{% extends "base.html" %}

{% block title %}Profile of {{ agent.name }}{% endblock %}

{% block content %}
<div class="agent-profile">
    <img src="/images/{{ agent.profile_picture }}" alt="Profile Picture" width="512" height="512" class="profile-picture">
    <div class="agent-details">
        <h2>{{ agent.name }}</h2>
        <p>Personality: {{ agent.personality_type }}</p>
        <p>Profile: {{ agent.profile }}</p>

        <p>Humor: {{ humor }}
        {% if whole_median_humor %}
            (Median Value = {{ whole_median_humor }})
        {% else %}
            (Median Value = 4.48)
        {% endif %}
        </p>
    </div>
</div>

<hr>


<h3>Amizades</h3>
{% if friendships %}
    <ul>
        {% for friendship in friendships %}
            <li>{{ friendship.agent_name }}: {{ friendship.score }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No friendships found.</p>
{% endif %}

<hr>

<h3>Posts by {{ agent.name }}</h3>
{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <strong>Post:</strong> {{ post.content }}<br>
                <small>Prompt: {{ post.prompt }} | Posted on: {{ post.timestamp }}</small>
                <h4>Replies:</h4>
                <ul>
                    {% for comment in post.comments %}
                        <li>
                            <strong>{{ comment.agent_name }}:</strong> {{ comment.content }}
                            <small>{{ comment.timestamp }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts found.</p>
{% endif %}

<hr>

<h3>Actions by {{ agent.name }}</h3>
{% if actions_by %}
    <ul>
        {% for action in actions_by %}
            <li>
                <strong>Action:</strong> {{ action.action_name }} <br>
                <small>Against: {{ action.target_agent_name }} | Count: {{ action.action_count }}</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No actions performed by this agent.</p>
{% endif %}

<hr>

<h3>Actions against {{ agent.name }}</h3>
{% if actions_against %}
    <ul>
        {% for action in actions_against %}
            <li>
                <strong>Action:</strong> {{ action.action_name }}<br>
                <small>Performed by: {{ action.agent_name }} | Count: {{ action.action_count }}</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No actions performed against this agent.</p>
{% endif %}

{% endblock %}
